body {
font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6, .font-display {
font-family: 'Playfair Display', serif;
}
.font-display {
font-family: 'Playfair Display', serif;
}
.font-body {
font-family: 'Lora', serif;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}